<!DOCTYPE html>
<html>
  <head>
    <title>Cards Against Isolation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application", defer: true %>
  </head>

  <body>
    <header class="px-6 py-4 shadow">
      <%=
        link_to "Cards Against Isolation",
                root_path,
                class: "font-bold text-xl no-underline"
      %>
    </header>
    <main class="p-6">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
